################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dynamic-qr/v17
/Frontend/.env.development
